.title {
    background-color: darkgray;
    border-bottom: 1px solid #000000;
    text-align-all: center;
    font-family: "Helvetica Neue", serif;
}

.title h1 {
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    align-content: center;
}

.title p {
    font-size: 15px;
    margin-bottom: 13px;
    color: #060d13;
}

.moreInfo #finePrint{
    font-size: 10px;
}

.body {
    height: 100%;
    min-height: 80%;
    width: 100%;
    position: absolute;
    background: linear-gradient(#99ccff, #132639);
    font-size: 24px;
}

.body h1 {
    font-family: 'Shift', sans-serif;
    font-size: 32px;
    font-weight: bold;
}